# Database Configuration
DATABASE_URL=jdbc:postgresql://localhost:5432/clean_architecture
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgrespassword

# JWT Security Configuration
# Set a secure, 256-bit (32+ character) secret key in production!
JWT_SECRET=404E635266556A586E3272357538782F413F43232428472B43232B6250645367566B5970

# ELK Stack Configuration
ELASTICSEARCH_URIS=localhost:9200
LOGSTASH_HOST=localhost
LOGSTASH_PORT=5000
